/* These styles are taken from the video tutorial You sent me <3 */
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* width: 100vw;
    height: 100vh; */
}

body {
    background-color: black;
}
