html,
body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

#canvas-container {
    background: #131313;
    width: 100vw;
    height: 100vh;
}
